body {
  font-family: 'Poppins', sans-serif;
  background: #fff8f0;
  color: #333;
  margin: 0;
}


.container {
  background: #fff;
  border: 1px solid #f4c29f;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(255, 140, 0, 0.15);
  width: 350px;
  padding: 30px;
  text-align: center;
}

h2 {
  color: #e67e22;
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #f4c29f;
  border-radius: 8px;
  background: #fffaf6;
}

button {
  background: #f39c12;
  color: #fff;
  border: none;
  padding: 10px 15px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #e67e22;
}

a {
  color: #e67e22;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}
